<img src="https://s3.amazonaws.com/wallpapers-legion/Wow-Legion-Wallpaper.jpg?X-Amz-Date=20161028T005210Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=81b0283134c98920d347081efa01672f7929f64f918075ddd31e40d7d567daec&X-Amz-Credential=ASIAIT2OHS4C6P76WZGA/20161028/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEPr//////////wEaDKI8OoGKyDO0OdFa/CL6AWT16hcBmYfF%2Bg4tvsf64Vri6K0sg9pM1YmIMxCT7%2Bt0DQZiveIHAE75csKyI65PvpqqoLJwfc/liHFZkseE2GUFpzFRuNwBArLE1e/FqIthiPktCKVlsrhiq3TIN4ZJq6V225chSKDFojD9CSoA0OSQfFLmePv5O31DkBleSvfUPZLODtWSJMY9kNQyq2foMoHvgg5R5ERy7TgqFcNeMh/caBNnY7H0Y53NwTns8lSP1azcljLyGYPDA45AXdnDj684Jxmdy5lIt%2BVg3O0PQC2EzoLAfffp/LeiyX%2B76D%2B/f5gKeN8CsKix20Rm8B8If618i6XlhitH/5Qog7rKwAU%3D" id="bg" alt="background image" />
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-6 col-md-offset-3 center faded-backdrop spacing">
        <p><h1 class="title">Raider iLvl</h1></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 center spacing">
      <% if !current_user %>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1">
            <%= button_to "Sign up", signup_path, class: "pull-right btn btn-legion btn-lg", method: :get %>
          </div>
          <div class="col-md-4 col-sm-4">
            <%= button_to "Login", login_path, class: "pull-left btn btn-legion btn-lg", method: :get %>
          </div>
        </div>
      </div>
      <% else %>
      <%= button_to "Get Started", dashboard_path, class: "btn btn-legion btn-lg", method: :get %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 spacing faded-backdrop white">
      <p class="center">
        Welcome to Raider iLvl. A site designed for raid leaders to easily be able to track the item level of all raid members.
      </p>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row white center">
      <div class="col-md-6">
        <p>
          Some content stuff.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Some contact/donation stuff.
        </p>
      </div>
    </div>
  </div>
</div>
